.box-shadow {
    box-shadow: 0px 55px 65px -50px #CBD5E1;
}

.service_card_shadow {
    box-shadow: 0px 55px 65px 10px #CBD5E159;
}

.service_card_shadow:hover {
    box-shadow: 0px 55px 65px 10px #a6acb459;
}

.accordion-title {
    width: 100%;
    cursor: pointer;
    transition: all .3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
}

.accordion-content.show {
    max-height: 200px;
}